<footer class="footer">
  <div class="footer-main">
    <figure class="footer-brand">
      <a class="logo" href="https://asciidoctor.org"><img src="{{uiRootPath}}/img/asciidoctor-logo.svg" alt="Asciidoctor" width="48"></a>
      <figcaption class="footer-brand-name"><a href="https://asciidoctor.org">Asciidoctor</a></figcaption>
    </figure>
    <ul class="footer-brand-links">
      <li><a href="https://asciidoctor.org" target="_blank" rel="noopener">Home</a></li>
      <li><a href="{{{or site.url (or siteRootUrl siteRootPath)}}}">Docs</a></li>
      <li><a href="https://github.com/asciidoctor" target="_blank" rel="noopener">Source</a></li>
      <li><a href="http://discuss.asciidoctor.org" target="_blank" rel="noopener">Discuss</a></li>
    </ul>
  </div>
  <div class="footer-legal">
    <p>Copyright © {{{year}}} Dan Allen, Sarah White, and individual Asciidoctor contributors. Except where noted, the content is licensed under a Creative Commons Attribution 4.0 International (CC BY 4.0) license.</p>
    <p>The UI for this site is based on the default Antora UI and is licensed under the MPL-2.0 license. Several icons are imported from <a href="https://primer.style/octicons/" target="_blank" rel="noopener">Octicons</a> and are licensed under the MIT license.</p>
    <p>AsciiDoc is a Trademark of the Eclipse Foundation, Inc.</p>
  </div>
  <div class="footer-thanks">
    <p>Thanks to our <a href="https://asciidoctor.org/supporters/" target="_blank" rel="noopener">backers</a> and <a href="https://asciidoctor.org/contributors/" target="_blank" rel="noopener">contributors</a> for helping to make this project possible. Additional thanks to:</p>
    <p class="badges">
      <a href="https://opendevise.com" title="Development support by OpenDevise" target="_blank" rel="noopener"><img src="https://secure.gravatar.com/avatar/823717a797dbd78ceff7b26aa397f383.png?size=80" alt="OpenDevise Logo" width="30"></a>
      <a href="https://algolia.com/docsearch" title="Search by Algolia DocSearch" target="_blank" rel="noopener"><img src="{{{uiRootPath}}}/img/algolia-logo.svg" alt="Algolia logo" width="30"></a>
      <a href="https://netlify.com" title="Deploys by Netlify" target="_blank" rel="noopener"><img src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="Deploys by Netlify" width="67"></a>
    </p>
    <p>Authored in AsciiDoc.<br>Produced by <a href="https://antora.org" target="_blank" rel="noopener">Antora</a> and <a href="https://asciidoctor.org" target="_blank" rel="noopener">Asciidoctor</a>.</p>
  </div>
</footer>
