<footer class="footer">
  <div class="footer-main">
    <figure class="footer-brand">
      <a class="logo" href="https://1on1guide.org"><img src="{{uiRootPath}}/img/1on1guide-logo-w-border.svg" alt="Asciidoctor" width="48"></a>
      <figcaption class="footer-brand-name"><a href="https://guide.1on1guide.org">1on1guide.org</a></figcaption>
    </figure>
    <ul class="footer-brand-links">
      <li><a href="https://guide.1on1guide.org" target="_blank" rel="noopener">Home</a></li>
      <li><a href="https://github.com/1on1guide-org/1on1meeting-guide/issues" target="_blank" rel="noopener">ご意見やアイデア</a></li>
      <li><a href="https://github.com/1on1guide-org/1on1meeting-guide" target="_blank" rel="noopener">Source</a></li>
    </ul>
    <p class="footer-brand-follow">
      <a href="https://x.com/hashtag/1on1ガイド" title="#1on1ガイド" target="_blank" rel="noopener"><span class="handle">#1on1ガイド</span></a>
    </p>
  </div>
  <div class="footer-legal">
    <p>
      Except where otherwise
      <a
        href="https://github.com/1on1guide-org/1on1meeting-guide?tab=License-1-ov-file"
        target="_blank"
      >noted</a>, “<a
        href="https://github.com/1on1guide-org/1on1meeting-guide"
        target="_blank"
      >1on1 meeting guide</a>” ©
      {{{year}}}
      by
      <a href="https://twitter.com/careerupdate" target="_blank">Manani Ozawa</a>,
      Naohito Sasao,
      <a href="https://twitter.com/chachaki" target="_blank">@chachaki</a>,
      <a
        href="https://twitter.com/eroccowaruico"
        target="_blank"
      >@eroccowaruico</a>
      and
      <a
        href="https://github.com/1on1guide-org/1on1meeting-guide/graphs/contributors"
        target="_blank"
      >other contributors</a>
      is licensed under
      <a
        href="http://creativecommons.org/licenses/by-sa/4.0/"
        target="_blank"
      >Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a>.</p>
      <p>The <a href="https://github.com/asciidoctor/asciidoctor-docs-ui" target="_blank" rel="noopener">UI for this site</a> is derived from the <a href="https://gitlab.com/antora/antora-ui-default" target="_blank" rel="noopener"> Antora default UI </a> and <a href="https://github.com/asciidoctor/asciidoctor-docs-ui" target="_blank" rel="noopener"> Asciidoctor Docs UI </a> is licensed under the MPL-2.0 license. Several icons are imported from <a href="https://primer.style/octicons/" target="_blank" rel="noopener">Octicons</a> and are licensed under the MIT license.</p>

  </div>
    <div class="footer-thanks">
    <p>Authored in <a href="https://asciidoc.org" target="_blank" rel="noopener">AsciiDoc</a>.</p>
  </div>
</footer>