{{#with page.navigation}}
<div class="nav-panel-menu is-active is-loading" data-panel="menu">
  <nav class="nav-menu">
    <button class="nav-menu-toggle" title="Toggle expand/collapse all"></button>
    {{#with @root.page.componentVersion}}
    <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
    {{/with}}
{{> nav-tree navigation=this}}
  </nav>
  <script>
{{! the logic to trace current path and scroll to item for current page copied from js/01-nav.js}}
;(function () {
  var panel = document.querySelector('.nav-panel-menu')
  var page
  var hash = window.location.hash
  if (hash) {
    if (~hash.indexOf('%')) hash = decodeURIComponent(hash)
    if (~hash.indexOf('"')) hash = hash.replace(/(?=")/g, '\\')
    var link = panel.querySelector('.nav-link[href="' + hash + '"]')
    if (link) page = link.parentNode
    else if ((page = panel.querySelector('.is-current-url'))) page.classList.add('is-provisional')
  } else {
    page = panel.querySelector('.is-current-url')
  }
  if (page) {
    var ancestor = page
    while ((ancestor = ancestor.parentNode) && ancestor !== panel) {
      if (ancestor.className === 'nav-item') ancestor.classList.add('is-current-path', 'is-active')
    }
    page.classList.add('is-current-page', 'is-active')
    if (panel.scrollHeight > panel.clientHeight) {
      var panelRect = panel.getBoundingClientRect()
      var linkRect = page.querySelector('.nav-link').getBoundingClientRect()
      panel.scrollTop += Math.round(linkRect.top - panelRect.top - (panelRect.height - linkRect.height) * 0.5)
    }
  } else {
    panel.scrollTop = 0
  }
  panel.classList.remove('is-loading')
})()
  </script>
</div>
{{/with}}
