{{#if page.componentVersion.prerelease}}
<div class="prerelease-banner">
  This documentation covers a prerelease version.
  {{#each page.versions}}{{~#if (and (eq this.version @root.page.component.latestVersion.version) (not (eq this.version @root.page.version)))}} <a href="{{{relativize this.url}}}">View stable ({{./displayVersion}})</a>{{~/if~}}{{/each}}
</div>
{{/if}}