{{#unless (eq page.componentVersion page.component.latest)}}
{{#if page.componentVersion.prerelease}}
{{#with page.latest}}
<div class="prerelease-banner">
  <p>This documentation covers a prerelease version of the software. <a href="{{{relativize this.url}}}">Follow this link</a> to view the documentation for the stable version ({{./displayVersion}}) instead.</p>
</div>
{{/with}}
{{/if}}
{{/unless}}
